aio-schema-authoring/src/main/resources/META-INF/aio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.tarpitout.com/schema/aio"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.tarpitout.com/schema/aio"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="puppy">
        <xsd:complexType>
            <xsd:complexContent>
                <!-- 	The indicated line contains an extension base for all identifiable tags
                (meaning they have an id attribute that we can use as the bean identifier in the
                container). We can use this attribute because we imported the Spring-provided
                beans namespace. -->
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="name" type="xsd:string"/>
                    <xsd:attribute name="color" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>